body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;

}
header{
    display: block;
    background-color: rgb(136, 136, 255);
    height: 100px;
}
aside{
    
    background-color: rgb(255, 214, 126);
    width: 25%; 
    height: 700px;
}
nav{
    padding-left: 10%;
    padding-right: 10%;
    background-color: #b9ff9f;
    height: 50px;
    width: 50%;
    left: 25%;
}
aside, nav, footer{
    display: inline-block;
    position: absolute;
}
#right{
    left: 75%;
    height: 700px;
}
footer{
    display: block;
    width: 100%;
    height: 100px;
    background-color: rgb(136, 136, 255);
    bottom: 0;
    left: 0;  
    top: 800px;
}
.map{
    position: absolute;
    display: inline-block;
    width:100%;
    bottom: 0;
}
#center_block{
    display: inline-block;
    position: absolute;

    width: 50%;
    height: 650px;
    left: 25%;
    top: 150px;
    font-size: 30px;
}
h1{
    position: absolute;
    display: inline-block;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 20px;
    left: 10%;
}
h2{
    position: absolute;
    display: inline-block;
    margin: 0;
    top: 30px;
    margin-left: 80%;
    margin-right: 10%;
}
ol{
    padding-top: 50%;
}
li{
    padding-bottom: 40px;
    font-weight: 800;
}
ul{
    padding: 0;
    display: flex;
}
ul li{
    margin-right: 10%;
}
footer h1{
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
footer h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    margin-left: 10%;
    margin-right: 10%;
}
#photo{
    display: inline-block;
    position: absolute;
    width: 60%;
    padding: 30% 20%;
}
@media (max-width: 700px) {
    *{
        font-size: 10px;
    }
    aside, nav {
        height: auto;
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 100%; /* Змінюємо ширину блоків на 100% при ширині екрану менше 700px */
        position: relative; /* Змінюємо позицію на relative, щоб вони стали "нормальним" потоковим елементом */
        left: 0; /* Скидаємо left, щоб вони не були позиціоновані абсолютно */
    }
    nav{
        height: 80px;
    }
    ol{
        padding-top: 0;
    }
    ul{
        margin-top: 5%;
        padding-left: 30%;
    }
    #center_block{
        position: static;
        height: auto;
        width: auto;
        display: block;
        background: #ffffff;
        font-size: 20px;
    }

    #right {
        left: 0; /* Змінюємо left блоку #right при ширині екрану менше 700px */
    }
    #photo{
        display: block;
        position: relative;
        height: 50%;
        width: 50%;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    .map{
        position: relative;
        top: 10px;
    }
    footer{
        display: block;
        position: relative;
        top: 0;

    }
}